---
import { getRelativeLocaleUrl } from "astro:i18n";
const currentLang = Astro.currentLocale;
const {slug, title, excerpt} = Astro.props;
---

<article class="post-card">
    <h2>
        <a href={getRelativeLocaleUrl(currentLang, `/blog/${slug}`)}>{title}</a>
    </h2>
    <p>{excerpt}</p>
</article>

<style>
    .post-card {
        border: 1px solid #ddd;
        padding: 1rem;
        margin: 1rem 0;
    }

    .post-card h2 a {
        text-decoration: none;
        color: #333;
    }

    .post-card p {
        margin: 0.5rem 0;
    }

    .post-card time {
        font-size: 0.875rem;
        color: #555;
    }
</style>