---
const currentLang = Astro.currentLocale;
const footerTexts = {
    es: "Blog hecho con amor y Astro.",
    en: "Blog made with love and Astro."
}
---

<footer>
    <p>{footerTexts[currentLang]}</p>
</footer>

<style>
    footer {
        text-align: center;
        padding: 1rem;
        background-color: #333;
        color: #fff;
    }
</style>